a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial, sans-serif;
    min-height: 100vh;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding-right: 20px;
    align-self: flex-end;
}

.top-menu__link {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 10px;
}

.top-menu__link:hover {
    text-decoration: underline;
}

.apps-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.apps-btn svg {
    fill: #5f6368;
}

.profile-link {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.profile-link__border {
    width: 40px;
    height: 40px;
}

.profile-img {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

.md-20 {
    font-size: 20px;
}

.grey {
    color: #9aa0a6;
}

/* Main section */

main {
    text-align: center;
    padding: 0 20px;
}

.logo {
    max-width: 100%;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 42px);
    height: 40px;
    padding: 5px 20px;
    border-radius: 40px;
    border: 1px solid #dfe1e5;
    user-select: none;
    cursor: default;
}

.search-input:hover {
    box-shadow: 0 0 8px 1px #dfe1e5;
    border-color: transparent;
}

input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
}

.search-mic {
    width: 24px;
    height: 24px;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    border-radius: 5px;
    background: #f8f9fa;
    padding: 10px 15px;
    cursor: pointer;
}

.form-btn:hover {
    border-color: #d8d8d8;
}

.form-btn + .form-btn {
    margin-left: 20px;
}

.languages {
    margin-top: 20px;
    margin-bottom: 40px;
}

.languages-p {
    font-size: 13px;
    margin: 0;
}

.languages-p a {
    color: #1a0dab;
}

.languages-p a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    /* margin-top: auto; */
    width: 100%;
}

.footer-lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 46px;
    padding: 0 35px;
    border-bottom: 1px solid #dadce0;
    background: #f2f2f2;
    color: #70757a;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #f2f2f2;
    flex-wrap: wrap;
}

.footer-nav__left,
.footer-nav__right {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav__item {
    display: inline-block;
}

.footer-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 60px; */
    padding: 15px;
    color: #70757a;
}

.footer-nav__link:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer-nav {
        justify-content: center;
    }

    .footer-nav__left,
    .footer-nav__right {
        text-align: center;
    }
}